#general {
    width: 100%;
    height: 700px;
}

#formbox {
    padding: 100px;
    width: 55%;
    height: 100%;
    float: left;
}

#imgbox {
    width: 45%;
    height: 100%;
    float: right;
    padding: 50px;
}

#imgform {
    width: 75%;
    height: 100%;
}

@media(max-width: 900px) {
    #formbox {
        width: 100%;
    }
    #imgbox {
        width: 0%;
    }
}