/* .imgnormalizada img {
    width: auto;
    height: 100px;
    max-height: 225px;
  } */
/* .carousel-item {
    width: auto;
    height: 70vh;
    min-height: 300px;
    margin: 20px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  .centro{ 
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-top: 50px;
    margin-left: 40px;
}
.izquierda{ 
    text-align: left;
    font-family: 'Cinzel', serif;
    margin-top: 100px;
    margin-left: 40px;
}
.der{
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-top: 200px;
    margin-left: 40px;
    margin-bottom: 400px;
    
}
.iz{
    margin-top: 100px;
    margin-left: 40px;
}
.brayan{
    margin-left: 50px;
}
