
.header-st{
    
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
}



.logo-st{
    height: 100px;
    
}

.header-st-dw{
    text-align:center;
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
    font-size: 12px;
    
}

#buttonLogo{
    
}
.movilLogo{
    
}


@media(min-width: 575px) {
    .movilLogo{
        padding: 0%;
        width: 0%;
    }
    #test {
        width: 0%;
    }
    .acerca{
        display: none;
    }
  }