/* #carouselExampleIndicators {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 100px;
} */

.margin-c {
  margin-left: 50px;
  margin-right: 100px;
}

.seccion_1 {
  /* background: url('img\slider\1.jpg') no-repeat; */
  background-size: cover;
  position: relative;
  /* left: 25%; */
  display: flex;
  flex-flow: row;
  width: 90%;
  height: 0%;
}
.seccion_2 {
  /* background: url('img\slider\2.jpg') no-repeat; */
  background-size: cover;
  position: relative;
  left: 25%;
  display: flex;
  flex-flow: row;
  width: 90%;
  height: 0%;
}
