#mainboxs {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 650px;
    padding: 50px;
}

#foto1 {
    width: 25%;
    height: 100%;
    float: left;
    padding: 2.5%;
}

#foto2 {
    width: 25%;
    height: 100%;
    float: left;
    padding: 2.5%;
}

#foto3 {
    width: 25%;
    height: 100%;
    float: left;
    padding: 2.5%;
}

#foto4 {
    width: 25%;
    height: 100%;
    float: left;
    padding: 2.5%;
}

#img {
    width: 100%;
    height: 100%;
    border-style: double;
    border-color: rgb(120, 129, 129);
    border-radius: 5px;
    border-width: 10px;
}

@media(max-width: 1000px) {
    #foto1 {
        width: 50%;
        height: 75%;
    }
    #foto2 {
        width: 50%;
        height: 75%;
    }
    #foto3 {
        width: 50%;
        height: 75%;
    }
    #foto4 {
        width: 50%;
        height: 75%;
    }
}

@media(max-width: 768px) {
    #foto1 {
        width: 100%;
    }
    #foto2 {
        width: 100%;
    }
    #foto3 {
        width: 100%;
    }
    #foto4 {
        width: 100%;
    }
}